**/build
.vscode/

json/.circleci/
json/.github/
json/benchmarks/
json/cmake/
json/doc/
json/include/
json/test/
json/third_party/
json/.clang_tidy
json/.gitignore
json/.travis.yml
json/appveyor.yml
json/ChangeLog.md
json/CMakeLists.txt
json/CODE_OF_CONDUCT.md
json/LICENSE.MIT
json/Makefile
json/meson.build
json/nlohmann_json.natvis
json/README.md
json/wsjcpp.yml


